{% extends 'baseUser.html' %}
{% block content %}

<div class='category-create'>
    <div class="cart-box">
      <div class="create-book-header">
  
        <h1 class="touppercase"><h1>All Users</h1></h1>
  
      </div>
      <div class="order-info">
        
        <table id="cart-table" >
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Phone Number</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.user.id }}</td>
                    <td>{{ user.user.username }}</td>
                    <td>{{ user.user.email }}</td>
                    <td>{{ user.address }}</td>
                    <td>{{ user.phone_number }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
       
      </div>
      
    </div>
  </div>


{% endblock %}