{% extends 'baseBook.html' %}

{% block content %}

<h1 class="mt-4">{{ book.title }}</h1>
<p><strong>Author:</strong> {{ book.author.name }}</p>
<p><strong>Genre:</strong> {{ book.genre.name }}</p>
<p><strong>Description:</strong></p>
<p>{{ book.description }}</p>
<p><strong>Price:</strong> {{ book.price }}</p>
<p><strong>Stock:</strong> {{ book.stock }}</p>
  <h1>Create Review</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
  </form>
{% endblock %}
